<form action="" class="form">
  <h2>Sin [(ngModel)] explicitamente</h2>
  <div class="form__input">
    <label for="withoutNgModel">Sin ngModel</label>
    <input
      id="withoutNgModel"
      [value]="withoutNgModel"
      (input)="withoutNgModel=$event.target.value" >
  </div>
  <div class="form__input">
    <p>{{ withoutNgModel }}</p>
  </div>
  <div class="form__input">
    <label for="withNgModel">Con ngModel separado</label>
    <input
      id="withNgModel"
      name="withNgModel"
      [ngModel]="withNgModel"
      (ngModelChange)="withNgModel=$event" >
  </div>
  <div class="form__input">
    <p>{{ withNgModel }}</p>
  </div>
  <div class="form__input">
    <label for="withNgModelB">Con ngModel + babana box syntax</label>
    <input
      id="withNgModelB"
      name="withNgModelB"
      [(ngModel)]="withNgModelB">
  </div>
  <div class="form__input">
    <p>{{ withNgModelB }}</p>
  </div>
</form>

<!-- 
  Template Driven:
  Si usas un formulario, tus inputs deben tener el atributo name, sino te lanzara un error.
 -->

<form
  class="form"
  #animalForm="ngForm"
  (ngSubmit)="submit(animalForm)"
  autocomplete="off"
>
  <h2>Con [(ngModel)]</h2>
  <div class="form__input" >
    <label for="name">Animal Name</label>
    <!-- 
      Template Driven:
      Se agrega ngModel con enlace bidireccional (two way data binding).
    -->
    <input
      type="text"
      name="name"
      id="name"
      #animalName
      [(ngModel)]="animal.name"
      required >
  </div>
  <div class="form__input">
    <p>{{ animalName.className }}</p>
    <p>{{ animalName }}</p>
  </div>
  <div class="form__input" >
    <label for="type">Animal Type</label>
    <!-- <input type="text" name="type" id="type" [(ngModel)]="animal.type" required > -->
    <select 
      name="type"
      id="type"
      [(ngModel)]="animal.type"
      #animalType="ngModel"
    >
      <option *ngFor="let type of types" [value]="type">{{ type }}</option>
    </select>
  </div>
  <div class="form__input">
    <p>{{ animalType.value }}</p>
    <p>{{ animalType.valid }}</p>
  </div>

  <!-- 
    Template Driven: 
    Usar la verificación del formulario para habilitar o deshabilitar el boton
  -->
  <button 
    type="submit"
    [disabled]="!animalForm.valid"
  >
    Enviar
  </button>
</form>

<form
  class="form"
  #animalForm2="ngForm"
  autocomplete="off"
>
  <h2>Solo con ngModel</h2>
  <div class="form__input" >
    <label for="name2">Animal Name 2</label>
    <input
      type="text"
      name="name2"
      id="name2"
      ngModel
      required >
  </div>
  <div class="form__input">
    <button (click)="verify(animalForm2)">Verificar valores</button>
  </div>
  {{ animalForm2.value | json }}
</form>
